.footer__container {
    background-color: var(--black-color);
    padding: 50px 75px;
    color: var(--white-color);
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 17px;
    transition: outline .3s ease-in-out;
}

.footer__logo:focus-visible {
    outline: 1px solid var(--accent-gold);
    outline-offset: 5px;
}

.footer__left {
    flex-direction: column;
    margin-right: 119px;
}

.footer__list {
    flex-direction: column;
    margin-bottom: 90px;
}

.footer__link {
    color: #CACACA;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px; /* 200% */
    transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.footer__link:hover {
    color: var(--light-gold);
}

.footer__link:focus-visible {
    outline: 2px solid var(--light-gold);
    outline-offset: 5px;
}

.footer__link:active {
    color: var(--darker-gold);
}

.footer__social {
    gap: 25px;
}

.footer__icon-svg {
    cursor: pointer;
    transition: outline .3s ease-in-out;
}

.footer__svg path {
    transition: fill .3s ease-in-out;
}

.footer__svg:hover path {
    fill: var(--accent-gold);
}

.footer__svg:focus-visible path {
    fill: #CACACA;
}

.footer__icon-svg:focus-visible {
    outline: 2px solid var(--accent-gold);
    outline-offset: 5px; 
}


.footer__svg:active path {
    fill: var(--darker-gold);
}


.footer__center {
    flex-direction: column;
}

.footer__center-heading {
    color: #CACACA;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.form-wrapper {
    flex-direction: column;
    gap: 25px;
    min-width: 570px;
}

.form__input {
    height: 60px;
    background-color: #414141;
    border: #414141;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; /* 200% */
    padding: 14px 24px;
    transition: background-color .3s ease-in-out;
}

placeholder {
    color: #CACACA;
    transition: color;
}

.form__input:hover {
    background-color: #666;
}

.form__input:focus-visible {
    background-color: #666;
}

.form__textarea {
    height: 150px;
    resize: none;
    margin-bottom: 7px;
}

.form__btn {
    padding: 19px 51px;
    width: 269px;
    align-self: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.form__btn:hover {
    background-color: var(--light-gold);
    border: 1px solid var(--light-gold);
}

.form__btn:active{
    background-color: var(--darker-gold);
    border: 1px solid var(--darker-gold);
}

.footer__right {
    align-items: center;
}

.footer__right-desc {
    max-width: 363px;
    color: #CACACA;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; /* 200% */
}