/* header */

.header__container {
    min-height: 100px;
    background: var(--white-color);
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 50px;
    padding-right: 75px;
    padding-left: 75px;
}

.header__logo {
    width: 60%;
    margin-right: 35px;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    width: 74%;
    margin-right: 52px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__nav-list {
    width: 77.3%;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;
}

.header__nav-link {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: color .1s ease-in-out, border-bottom .1s ease-in-out, outline .1s ease-in-out;
}

.header__nav-link:hover {
    gap: 7px;
    border-bottom: 2px solid var(--accent-gold);
}

.header__nav-link:focus-visible {
    outline: 2px solid var(--accent-gold);
}

.header__nav-link:active {
    color: var(--darker-gold);
    gap: 7px;
    border-bottom: 2px solid var(--darker-gold);
}

.header__nav-search-button {
    height: 24px;
    padding: 0;
    align-self: center;
    background: transparent;
    border: transparent;
    border-radius: 0;
    position: relative;
    transition: outline .1s ease-in-out;
    outline-offset: 1px;
}

.header__nav-search-button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header__nav-search-button path {
    transition: stroke .1s ease-in-out;
}

.header__nav-search-button rect {
    transition: fill .1s ease-in-out;
}

.header__nav-search-button:hover path {
    stroke: var(--accent-gold);
}

.header__nav-search-button:hover rect {
    fill: var(--accent-gold);
}

.header__nav-search-button:focus-visible {
    outline: 2px solid var(--accent-gold);
}